body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
.orange {
    color: orange;
}
span {
    color: orangered;
}
section {
    display: flex;
}
.half-width {
    width: 50%;
    padding: 10px;
}

.half-width img {
    width: 90%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(#56CCF2, #2F80ED);
    font:bolder;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.CV-link{
    text-decoration: none;
    background-image: linear-gradient(#C33764,#1D2671);
    font:bolder;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}
.Dream-Big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
