/* Shared Styles */
body{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

/* Nav Bar Styles */
.text-primary{
    color: #FD6E0A;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
    font-weight: 100;
}

nav li{
    font-style: normal;
    list-style: none;
    margin: 50px;
    
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary{
    border-radius: 5px;
    color: white;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 15px 35px;

}

/* Header Styles */
.header{
    background: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-picture{
    width: 500px;
}